@model IEnumerable<Curso>
@{
    ViewData["Title"] = "Lista de Cursos";
}

<h1>@ViewData["Title"]</h1>
@if(ViewBag.Mensaje!=null)
{
    <h1>@ViewBag.Mensaje</h1>
}

<partial name="ListaObjetoBaseAcciones" model="@(Model.Cast<ObjetoBase>())"/>