@model Curso
@{
    ViewData["Title"] = "Edición de Curso";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All">

</div>
<form method="POST">
    <input asp-for="Id" type="hidden" />
    <input asp-for="EscuelaId" type="hidden" />
    <div>
        <label asp-for="Nombre" class="col-form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label asp-for="Dirección" class="col-form-label"></label></label>
        <input asp-for="Dirección" class="form-control" />
    </div>
    <div>
        <label asp-for="TipoCurso" class="col-form-label"></label></label>
        @Html.DropDownList("TipoCurso", Html.GetEnumSelectList<ASPNetCore.Enums.TipoCursoEnum>(), new{ @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-success mt-2" value="Guardar" />
</form>